{% extends 'admin/admin_header.html.twig' %}


{% block title %}Üye Ekleme{% endblock %}
{% block admin_sidebar %}{% include 'admin/admin_sidebar.html.twig' %}{% endblock %}
{% block admin_footer %}{% include 'admin/admin_footer.html.twig' %}{% endblock %}


{% block content %}


<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/">Admin Panel</a>
            </li>

        </ol></div>
    <div class="card-body">
        <form method="post">

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="users_isimsoyisim" name="users[isimsoyisim]" value="{{ user1.isimsoyisim }}" required="required" maxlength="30">                                <label for="firstName">Adı Soyadi</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="users_email" name="users[email]" value="{{ user1.email }}" required="required" maxlength="40">                                <label for="firstName">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="users_password" name="users[password]" value="{{ user1.password }}" required="required" maxlength="40">                            <label for="firstName">Password</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="users_telefon" name="users[telefon]" value="{{ user1.telefon }}" required="required" maxlength="40">                            <label for="firstName">Telefon</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="users_address" name="users[address]" value="{{ user1.address }}" required="required" maxlength="40">                            <label for="firstName">Adres</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="users_city" name="users[city]" value="{{ user1.city }}" required="required" maxlength="40">                            <label for="firstName">Şehir</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-sm-10">
                        <label for="firstName"><select name="users[roles]" class="form-control">
                                <!--  {% for item in user1.roles %}
                                    <option selected>{{ item }}</option>
                                {% endfor %} -->
                                <option>ROLE_ADMIN</option>
                                <option>ROLE_USER</option>
                            </select></label>

                        <div class="form-label-group">



                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="form-row">
                    <div class="col-sm-10">
                        <label for="firstName"><select name="users[status]" value="{{ user1.status }}" class="form-control">

                                <option>Online</option>
                                <option>Offline</option>
                            </select></label>

                        <div class="form-label-group">



                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block col-sm-3" type="submit">Kaydet</button>




            </div>

    {% endblock %}
